<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<style>
  @import url("../../preview.css");
  @import url("../css/ui.css");
</style>
</head>
<body id="preview" onLoad="parent.initPreview(document);" _onClick="parent.setSelector();" bgcolor="#ffffff">
<div class="nof_ui" style="margin-top: 0px;"><span class="nof_ui_heading">Häufig gestellte Fragen durchsuchen</span></div>
<table border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td class="nof_faq_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_label"><span class="nof_faq_text"><label class="nof_faq_label" for="search">Häufig gestellte Fragen durchsuchen:</label></span></span></td>
    <td class="nof_faq_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_input_text"><input name="search" type="text" id="search" class="nof_faq_input_text"></span></td>
    <td class="nof_faq_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_input_button"><input name="button" type="button" value="Suchen" class="nof_faq_input_button" ></span></td>
  </tr>
</table>
<div class="nof_ui"><span class="nof_ui_heading">Inhalt</span></div>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td class="nof_faq_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_question"><span class="nof_faq_text"><a href="JavaScript:void(0);" class="nof_faq_link"><span class="nof_faq_category">Alle Kategorien</span></a></span></span></td>
  </tr>
  <tr>
    <td>
      <div onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_categoryBlock">
        <div class="nof_faq_categoryBlock">
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td class="nof_faq_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_category"><span class="nof_faq_text"><a href="JavaScript:void(0);" class="nof_faq_link"><span class="nof_faq_category">Beispiel für Kategorie</span></a></span></span></td>
          </tr>
          <tr>
            <td class="nof_faq_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_categoryDescription"><span class="nof_faq_text"><span class="nof_faq_categoryDescription">Beispiel für Kategorienbeschreibung</span></span></span></td>
          </tr>
        </table>
        </div>
      </div>
    </td>
  </tr>
</table>
<div class="nof_ui"><span class="nof_ui_heading">Antwort bewerten</span></div>
<div onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_header">
  <table width="100%" border="0" cellpadding="0" cellspacing="0" class="nof_faq_header">
    <tr>
      <td><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_heading"><span class="nof_faq_text"><span class="nof_faq_heading">Beispiel für Kategorie</span></span></span></td>
      <td align="right"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_navigation"><span class="nof_faq_text"><span class="nof_faq_navigation">Seiten:&nbsp;1&nbsp;<span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_navigationLink"><a class="nof_faq_link" href="JavaScript:void(0);"><span class="nof_faq_navigationLink">2</span></a></span>&nbsp;(2)</span></span></span></td>
    </tr>
  </table>
</div>
<div onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_content">
  <div class="nof_faq_content">
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td class="nof_faq_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_question"><span class="nof_faq_text"><span class="nof_faq_question">Beispiel für Frage</span></span></span></td>
      </tr>
      <tr>
        <td class="nof_faq_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_answer"><span class="nof_faq_text"><span class="nof_faq_answer">Beispiel für Antwort</span></span></span></td>
      </tr>
      <tr>
        <td class="nof_faq_contentCell">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td class="nof_faq_contentCell">
                <table border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_select">
                      <select name="dropdown" id="dropdown" class="nof_faq_select">
                        <option class="nof_faq_select_option">Beispiel für Option</option>
                        <option class="nof_faq_select_option">Option 2</option>
                        <option class="nof_faq_select_option">Option 3</option>
                        <!-- <optgroup label="Option Group" class="nof_faq_select_optgroup"> -->
                        <option class="nof_faq_select_option">Option 4</option>
                        <option class="nof_faq_select_option">Option 5</option>
                        <option class="nof_faq_select_option">Option 6</option>
                        <!-- </optgroup> -->
                      </select>
                      </span></td>
                    <td><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_input_button"><input name="button" type="button" value="Bewerten" class="nof_faq_input_button" ></span></td>
                  </tr>
                </table>
              </td>
              <td class="nof_faq_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_text"><span class="nof_faq_text">Durchschnitt: Nicht bewertet</span></span></td>
              <td class="nof_faq_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_text"><span class="nof_faq_text">Treffer: 0</span></span></td>
              <td class="nof_faq_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_text"><span class="nof_faq_text">Geändert am: 15.11.06</span></span></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td class="nof_faq_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_hr"><hr class="nof_faq_hr"></span></td>
      </tr>
    </table>
  </div>
</div>
<div onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_footer">
  <table border="0" cellpadding="0" cellspacing="0" width="100%" class="nof_faq_footer">
    <tbody>
      <tr>
        <td><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_navigationLink"><span class="nof_faq_text"><span class="nof_faq_navigation"><a href="JavaScript:void(0);" class="nof_faq_link"><span class="nof_faq_navigationLink">&lt; Vorige</span></a></span></span></span></td>
        <td width="33%" align="center"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_input_button"><input name="button" type="button" value="Zurück" class="nof_faq_input_button" ></span></td>
        <td width="33%" align="right"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_navigationLink"><span class="nof_faq_text"><span class="nof_faq_navigation"><a href="JavaScript:void(0);" class="nof_faq_link"><span class="nof_faq_navigationLink">Nächste &gt;</span></a></span></span></span></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="nof_ui"><span class="nof_ui_heading">Details</span></div>
<div onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_header">
  <table width="100%" border="0" cellpadding="0" cellspacing="0" class="nof_faq_header">
    <tr>
      <td><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_heading"><span class="nof_faq_text"><span class="nof_faq_heading">Häufig gestellte Frage(n) in allen Kategorien</span></span></span></td>
      <td align="right"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_navigation"><span class="nof_faq_text"><span class="nof_faq_navigation">Seiten:&nbsp;1&nbsp;<span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_navigationLink"><a class="nof_faq_link" href="JavaScript:void(0);"><span class="nof_faq_navigationLink">2</span></a></span>&nbsp;(2)</span></span></span></td>
    </tr>
  </table>
</div>
<div onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_content">
  <div class="nof_faq_content">
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td class="nof_faq_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_question"><span class="nof_faq_text"><a href="JavaScript:void(0);" class="nof_faq_link"><span class="nof_faq_question">Beispiel für Frage</span></a></span></span></td>
      </tr>
      <tr>
        <td class="nof_faq_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_answer"><span class="nof_faq_text"><span class="nof_faq_answer">Beispiel für Antwort</span></span></span></td>
      </tr>
      <tr>
        <td class="nof_faq_contentCell">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td class="nof_faq_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_text"><span class="nof_faq_text">Durchschnittliche Bewertung: Nicht bewertet</span></span></td>
              <td class="nof_faq_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_text"><span class="nof_faq_text">Treffer: 0</span></span></td>
              <td class="nof_faq_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_text"><span class="nof_faq_text">Geändert am: 15.11.06</span></span></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td class="nof_faq_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_hr"><hr class="nof_faq_hr"></span></td>
      </tr>
    </table>
  </div>
</div>
<div onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_footer">
  <table border="0" cellpadding="0" cellspacing="0" width="100%" class="nof_faq_footer">
    <tbody>
      <tr>
        <td><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_navigationLink"><span class="nof_faq_text"><span class="nof_faq_navigation"><a href="JavaScript:void(0);" class="nof_faq_link"><span class="nof_faq_navigationLink">&lt; Vorige</span></a></span></span></span></td>
        <td align="right"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_navigationLink"><span class="nof_faq_text"><span class="nof_faq_navigation"><a href="JavaScript:void(0);" class="nof_faq_link"><span class="nof_faq_navigationLink">Nächste &gt;</span></a></span></span></span></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="nof_ui"><span class="nof_ui_heading">Bewertungsstufen auflisten</span></div>
<div onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_header">
  <table width="100%" border="0" cellpadding="0" cellspacing="0" class="nof_faq_header">
    <tr>
      <td><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_heading"><span class="nof_faq_text"><span class="nof_faq_heading">Bewertungsstufen auflisten</span></span></span></td>
    </tr>
  </table>
</div>
<div onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_content">
  <div class="nof_faq_content">
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td class="nof_faq_contentCell" align="center"><span class="nof_faq_text"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_link"><a href="JavaScript:void(0);" class="nof_faq_link">Häufig gestellte Frage hinzufügen</a>&nbsp;|&nbsp;<a href="JavaScript:void(0);" class="nof_faq_link">Häufig gestellte Fragen auflisten</a>&nbsp;|&nbsp;<a href="JavaScript:void(0);" class="nof_faq_link">Kategorien</a>&nbsp;|&nbsp;<a href="JavaScript:void(0);" class="nof_faq_link">Bewertungsstufen</a></span></span></td>
      </tr>
      <tr>
        <td class="nof_faq_contentCell">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td class="nof_faq_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_label"><span class="nof_faq_text"><label class="nof_faq_label" for="chooseCat">Kategorie auswählen:</label></span></span></td>
              <td width="100%"><span class="nof_faq_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_select">
                <select name="chooseCat" id="chooseCat" class="nof_faq_select">
                  <option class="nof_faq_select_option">Beispiel für Option</option>
                  <option class="nof_faq_select_option">Option 2</option>
                  <option class="nof_faq_select_option">Option 3</option>
                  <!-- <optgroup label="Option Group" class="nof_faq_select_optgroup"> -->
                  <option class="nof_faq_select_option">Option 4</option>
                  <option class="nof_faq_select_option">Option 5</option>
                  <option class="nof_faq_select_option">Option 6</option>
                  <!-- </optgroup> -->
                </select></span></span></td>
            </tr>
            <tr>
              <td class="nof_faq_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_label"><span class="nof_faq_text"><label class="nof_faq_label" for="search2">Häufig gestellte Fragen durchsuchen:</label></span></span></td>
              <td width="100%" class="nof_faq_contentCell">
                <table border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_input_text"><input name="search2" type="text" id="search2" class="nof_faq_input_text"></span></td>
                    <td><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_input_button"><input name="button" type="button" value="Suchen" class="nof_faq_input_button" ></span></td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tbody>
              <tr>
                <td class="nof_faq_columnHeadingRow"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_columnHeadingRow"><span class="nof_faq_text"><span class="nof_faq_columnHeading">Bewertungsstufe</span></span></span></td>
                <td class="nof_faq_columnHeadingRow"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_columnHeadingRow"><span class="nof_faq_text"><span class="nof_faq_columnHeading">Bewertungsstufen-Name</span></span></span></td>
                <td class="nof_faq_columnHeadingRow">&nbsp;</td>
              </tr>
              <tr>
                <td class="nof_faq_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_text"><span class="nof_faq_text">1</span></span></td>
                <td class="nof_faq_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_text"><span class="nof_faq_text">Schwach</span></span></td>
                <td class="nof_faq_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_input_button"><input name="button" type="button" value="Bearbeiten" class="nof_faq_input_button" ></span><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_input_button"><input name="button" type="button" value="Entfernen" class="nof_faq_input_button" ></span></td>
              </tr>
              <tr>
                <td class="nof_faq_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_text"><span class="nof_faq_text">2</span></span></td>
                <td class="nof_faq_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_text"><span class="nof_faq_text">Zufriedenstellend</span></span></td>
                <td class="nof_faq_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_input_button"><input name="button" type="button" value="Bearbeiten" class="nof_faq_input_button" ></span><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_input_button"><input name="button" type="button" value="Entfernen" class="nof_faq_input_button" ></span></td>
              </tr>
              <tr>
                <td class="nof_faq_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_text"><span class="nof_faq_text">3</span></span></td>
                <td class="nof_faq_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_text"><span class="nof_faq_text">Gut</span></span></td>
                <td class="nof_faq_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_input_button"><input name="button" type="button" value="Bearbeiten" class="nof_faq_input_button" ></span><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_input_button"><input name="button" type="button" value="Entfernen" class="nof_faq_input_button" ></span></td>
              </tr>
              <tr>
                <td class="nof_faq_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_text"><span class="nof_faq_text">4</span></span></td>
                <td class="nof_faq_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_text"><span class="nof_faq_text">Sehr gut</span></span></td>
                <td class="nof_faq_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_input_button"><input name="button" type="button" value="Bearbeiten" class="nof_faq_input_button" ></span><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_input_button"><input name="button" type="button" value="Entfernen" class="nof_faq_input_button" ></span></td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td class="nof_faq_contentCell" align="center"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_input_button"><input name="button" type="button" value="Bewertungsstufe hinzufügen" class="nof_faq_input_button" ></span></td>
      </tr>
    </table>
  </div>
</div>
<div onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_footer">
  <table border="0" cellpadding="0" cellspacing="0" width="100%" class="nof_faq_footer">
    <tbody>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="nof_ui"><span class="nof_ui_heading">Bewertungsstufen hinzufügen und bearbeiten</span></div>
<div onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_header">
  <table width="100%" border="0" cellpadding="0" cellspacing="0" class="nof_faq_header">
    <tr>
      <td><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_heading"><span class="nof_faq_text"><span class="nof_faq_heading">Bewertungsstufe bearbeiten</span></span></span></td>
    </tr>
  </table>
</div>
<div onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_content">
  <div class="nof_faq_content">
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td class="nof_faq_contentCell" align="center"><span class="nof_faq_text"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_link"><a href="JavaScript:void(0);" class="nof_faq_link">Häufig gestellte Frage hinzufügen</a>&nbsp;|&nbsp;<a href="JavaScript:void(0);" class="nof_faq_link">Häufig gestellte Fragen auflisten</a>&nbsp;|&nbsp;<a href="JavaScript:void(0);" class="nof_faq_link">Kategorien</a>&nbsp;|&nbsp;<a href="JavaScript:void(0);" class="nof_faq_link">Bewertungsstufen</a></span></span></td>
      </tr>
      <tr>
        <td>
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td class="nof_faq_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_label"><span class="nof_faq_text"><label class="nof_faq_label" for="rank">Bewertungsstufe:</label></span></span></td>
              <td width="100%" class="nof_faq_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_input_text"><input name="rank" type="text" class="nof_faq_input_text" id="rank" value="1" size="4" maxlength="2"></span></td>
            </tr>
            <tr>
              <td class="nof_faq_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_label"><span class="nof_faq_text"><label class="nof_faq_label" for="rankName">Bewertungsstufen-Name:</label></span></span></td>
              <td width="100%" class="nof_faq_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_input_text"><input name="rankName" type="text" class="nof_faq_input_text" id="rankName" value="Schwach"></span></td>
            </tr>
            <tr>
              <td class="nof_faq_contentCell">&nbsp;</td>
              <td width="100%" class="nof_faq_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_input_button"><input name="button" type="button" value="Speichern" class="nof_faq_input_button"></span><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_input_button"><input name="button" type="button" value="Abbrechen" class="nof_faq_input_button"></span></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</div>
<div onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_footer">
  <table border="0" cellpadding="0" cellspacing="0" width="100%" class="nof_faq_footer">
    <tbody>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="nof_ui"><span class="nof_ui_heading">Häufig gestellte Fragen auflisten</span></div>
<div onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_header">
  <table width="100%" border="0" cellpadding="0" cellspacing="0" class="nof_faq_header">
    <tr>
      <td><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_heading"><span class="nof_faq_text"><span class="nof_faq_heading">Häufig gestellte Fragen auflisten</span></span></span></td>
      <td align="right"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_navigation"><span class="nof_faq_text"><span class="nof_faq_navigation">Seiten:&nbsp;1&nbsp;<span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_navigationLink"><a class="nof_faq_link" href="JavaScript:void(0);"><span class="nof_faq_navigationLink">2</span></a></span>&nbsp;(2)</span></span></span></td>
    </tr>
  </table>
</div>
<div onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_content">
  <div class="nof_faq_content">
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td class="nof_faq_contentCell" align="center"><span class="nof_faq_text"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_link"><a href="JavaScript:void(0);" class="nof_faq_link">Häufig gestellte Frage hinzufügen</a>&nbsp;|&nbsp;<a href="JavaScript:void(0);" class="nof_faq_link">Häufig gestellte Fragen auflisten</a>&nbsp;|&nbsp;<a href="JavaScript:void(0);" class="nof_faq_link">Kategorien</a>&nbsp;|&nbsp;<a href="JavaScript:void(0);" class="nof_faq_link">Bewertungsstufen</a></span></span></td>
      </tr>
      <tr>
        <td class="nof_faq_contentCell">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td class="nof_faq_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_label"><span class="nof_faq_text"><label class="nof_faq_label" for="chooseCat2">Kategorie auswählen:</label></span></span></td>
              <td width="100%"><span class="nof_faq_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_select">
                <select name="chooseCat2" id="chooseCat2" class="nof_faq_select">
                  <option class="nof_faq_select_option">Beispiel für Option</option>
                  <option class="nof_faq_select_option">Option 2</option>
                  <option class="nof_faq_select_option">Option 3</option>
                  <!-- <optgroup label="Option Group" class="nof_faq_select_optgroup"> -->
                  <option class="nof_faq_select_option">Option 4</option>
                  <option class="nof_faq_select_option">Option 5</option>
                  <option class="nof_faq_select_option">Option 6</option>
                  <!-- </optgroup> -->
                </select>
                </span></span></td>
            </tr>
            <tr>
              <td class="nof_faq_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_label"><span class="nof_faq_text"><label class="nof_faq_label" for="search3">Häufig gestellte Fragen durchsuchen:</label></span></span></td>
              <td width="100%" class="nof_faq_contentCell">
                <table cellspacing="0" cellpadding="0">
                  <tr>
                    <td><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_input_text"><input name="search3" type="text" id="search3" class="nof_faq_input_text"></span></td>
                    <td><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_input_button"><input name="button" type="button" value="Suchen" class="nof_faq_input_button" ></span></td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tbody>
              <tr>
                <td class="nof_faq_columnHeadingRow"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_columnHeadingRow"><span class="nof_faq_text"><span class="nof_faq_columnHeading">Frage</span></span></span></td>
                <td class="nof_faq_columnHeadingRow"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_columnHeadingRow"><span class="nof_faq_text"><span class="nof_faq_columnHeading">Geändert am</span></span></span></td>
                <td class="nof_faq_columnHeadingRow">&nbsp;</td>
              </tr>
              <tr>
                <td class="nof_faq_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_text"><span class="nof_faq_text">Beispiel für Frage</span></span></td>
                <td class="nof_faq_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_text"><span class="nof_faq_text">15.11.06</span></span></td>
                <td class="nof_faq_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_input_button"><input name="button" type="button" value="Bearbeiten" class="nof_faq_input_button" ></span><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_input_button"><input name="button" type="button" value="Entfernen" class="nof_faq_input_button" ></span></td>
              </tr>
              <tr>
                <td class="nof_faq_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_text"><span class="nof_faq_text">Beispiel für Frage</span></span></td>
                <td class="nof_faq_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_text"><span class="nof_faq_text">15.11.06</span></span></td>
                <td class="nof_faq_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_input_button"><input name="button" type="button" value="Bearbeiten" class="nof_faq_input_button" ></span><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_input_button"><input name="button" type="button" value="Entfernen" class="nof_faq_input_button" ></span></td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td class="nof_faq_contentCell" align="center"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_input_button"><input name="button" type="button" value="Kategorie hinzufügen" class="nof_faq_input_button" ></span></td>
      </tr>
    </table>
  </div>
</div>
<div onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_footer">
  <table border="0" cellpadding="0" cellspacing="0" width="100%" class="nof_faq_footer">
    <tbody>
      <tr>
        <td><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_navigationLink"><span class="nof_faq_text"><span class="nof_faq_navigation"><a href="JavaScript:void(0);" class="nof_faq_link"><span class="nof_faq_navigationLink">&lt; Vorige</span></a></span></span></span></td>
        <td align="right"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_navigationLink"><span class="nof_faq_text"><span class="nof_faq_navigation"><a href="JavaScript:void(0);" class="nof_faq_link"><span class="nof_faq_navigationLink">Nächste &gt;</span></a></span></span></span></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="nof_ui"><span class="nof_ui_heading">Kategorien auflisten</span></div>
<div onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_header">
  <table width="100%" border="0" cellpadding="0" cellspacing="0" class="nof_faq_header">
    <tr>
      <td><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_heading"><span class="nof_faq_text"><span class="nof_faq_heading">Kategorien auflisten</span></span></span></td>
    </tr>
  </table>
</div>
<div onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_content">
  <div class="nof_faq_content">
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td class="nof_faq_contentCell" align="center"><span class="nof_faq_text"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_link"><a href="JavaScript:void(0);" class="nof_faq_link">Häufig gestellte Frage hinzufügen</a>&nbsp;|&nbsp;<a href="JavaScript:void(0);" class="nof_faq_link">Häufig gestellte Fragen auflisten</a>&nbsp;|&nbsp;<a href="JavaScript:void(0);" class="nof_faq_link">Kategorien</a>&nbsp;|&nbsp;<a href="JavaScript:void(0);" class="nof_faq_link">Bewertungsstufen</a></span></span></td>
      </tr>
      <tr>
        <td>
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tbody>
              <tr>
                <td class="nof_faq_columnHeadingRow">&nbsp; </td>
                <td class="nof_faq_columnHeadingRow"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_columnHeadingRow"><span class="nof_faq_text"><span class="nof_faq_columnHeading">Kategorie</span></span></span></td>
                <td class="nof_faq_columnHeadingRow">&nbsp;</td>
              </tr>
              <tr>
                <td class="nof_faq_contentCell" align="right"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_input_radio"><input name="radiobuttons2" type="radio" value="radio" checked="CHECKED" class="nof_faq_input_radio" hidefocus="true"></span></td>
                <td class="nof_faq_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_text"><span class="nof_faq_text">Beispiel für Kategorie</span></span></td>
                <td class="nof_faq_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_input_button"><input name="button" type="button" value="Bearbeiten" class="nof_faq_input_button" ></span><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_input_button"><input name="button" type="button" value="Entfernen" class="nof_faq_input_button" ></span></td>
              </tr>
              <tr>
                <td class="nof_faq_contentCell" align="right"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_input_radio"><input name="radiobuttons2" type="radio" value="radio" class="nof_faq_input_radio" hidefocus="true"></span></td>
                <td class="nof_faq_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_text"><span class="nof_faq_text">Beispiel für Kategorie</span></span></td>
                <td class="nof_faq_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_input_button"><input name="button" type="button" value="Bearbeiten" class="nof_faq_input_button" ></span><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_input_button"><input name="button" type="button" value="Entfernen" class="nof_faq_input_button" ></span></td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td class="nof_faq_contentCell" align="center"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_input_button"><input name="button" type="button" value="Kategorie hinzufügen" class="nof_faq_input_button" ></span></td>
      </tr>
    </table>
  </div>
</div>
<div onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_footer">
  <table border="0" cellpadding="0" cellspacing="0" width="100%" class="nof_faq_footer">
    <tbody>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="nof_ui"><span class="nof_ui_heading">Kategorien bearbeiten</span></div>
<div onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_header">
  <table width="100%" border="0" cellpadding="0" cellspacing="0" class="nof_faq_header">
    <tr>
      <td><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_heading"><span class="nof_faq_text"><span class="nof_faq_heading">Kategorie bearbeiten</span></span></span></td>
    </tr>
  </table>
</div>
<div onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_content">
  <div class="nof_faq_content">
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td class="nof_faq_contentCell" align="center"><span class="nof_faq_text"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_link"><a href="JavaScript:void(0);" class="nof_faq_link">Häufig gestellte Frage hinzufügen</a>&nbsp;|&nbsp;<a href="JavaScript:void(0);" class="nof_faq_link">Häufig gestellte Fragen auflisten</a>&nbsp;|&nbsp;<a href="JavaScript:void(0);" class="nof_faq_link">Kategorien</a>&nbsp;|&nbsp;<a href="JavaScript:void(0);" class="nof_faq_link">Bewertungsstufen</a></span></span></td>
      </tr>
      <tr>
        <td>
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td class="nof_faq_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_label"><span class="nof_faq_text"><label class="nof_faq_label" for="catName">Kategorienname:</label></span></span></td>
              <td width="100%" class="nof_faq_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_input_text"><input name="catName" type="text" id="catName" value="Beispiel für Kategorie" class="nof_faq_input_text"></span></td>
            </tr>
            <tr>
              <td valign="top" class="nof_faq_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_label"><span class="nof_faq_text"><label class="nof_faq_label" for="description">Kategorienbeschreibung:</label></span></span></td>
              <td class="nof_faq_contentCell" width="100%"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_textarea"><textarea name="description" rows="5" id="description" class="nof_faq_textarea">Beispiel für Kategorienbeschreibung</textarea></span></td>
            </tr>
            <tr>
              <td valign="top" class="nof_faq_contentCell">&nbsp;</td>
              <td width="100%" class="nof_faq_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_input_button"><input name="button" type="button" value="Speichern" class="nof_faq_input_button"></span><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_input_button"><input name="button" type="button" value="Abbrechen" class="nof_faq_input_button"></span></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</div>
<div onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_footer">
  <table border="0" cellpadding="0" cellspacing="0" width="100%" class="nof_faq_footer">
    <tbody>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="nof_ui"><span class="nof_ui_heading">Häufig gestellte Fragen bearbeiten</span></div>
<div onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_header">
  <table width="100%" border="0" cellpadding="0" cellspacing="0" class="nof_faq_header">
    <tr>
      <td><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_heading"><span class="nof_faq_text"><span class="nof_faq_heading">Häufig gestellte Fragen bearbeiten</span></span></span></td>
    </tr>
  </table>
</div>
<div onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_content">
  <div class="nof_faq_content">
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td class="nof_faq_contentCell" align="center"><span class="nof_faq_text"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_link"><a href="JavaScript:void(0);" class="nof_faq_link">Häufig gestellte Frage hinzufügen</a>&nbsp;|&nbsp;<a href="JavaScript:void(0);" class="nof_faq_link">Häufig gestellte Fragen auflisten</a>&nbsp;|&nbsp;<a href="JavaScript:void(0);" class="nof_faq_link">Kategorien</a>&nbsp;|&nbsp;<a href="JavaScript:void(0);" class="nof_faq_link">Bewertungsstufen</a></span></span></td>
      </tr>
      <tr>
        <td>
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td class="nof_faq_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_label"><span class="nof_faq_text"><label class="nof_faq_label" for="chooseCat3">Kategorie auswählen:</label></span></span></td>
              <td width="100%"><span class="nof_faq_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_select">
                <select name="chooseCat3" id="chooseCat3" class="nof_faq_select">
                  <option class="nof_faq_select_option">Beispiel für Option</option>
                  <option class="nof_faq_select_option">Option 2</option>
                  <option class="nof_faq_select_option">Option 3</option>
                  <!-- <optgroup label="Option Group" class="nof_faq_select_optgroup"> -->
                  <option class="nof_faq_select_option">Option 4</option>
                  <option class="nof_faq_select_option">Option 5</option>
                  <option class="nof_faq_select_option">Option 6</option>
                  <!-- </optgroup> -->
                </select>
                </span></span></td>
            </tr>
            <tr>
              <td valign="top" class="nof_faq_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_label"><span class="nof_faq_text"><label class="nof_faq_label" for="question">Frage:</label></span></span></td>
              <td class="nof_faq_contentCell" width="100%"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_textarea"><textarea name="question" rows="5" id="question" class="nof_faq_textarea">Beispiel für Frage</textarea></span></td>
            </tr>
            <tr>
              <td valign="top" class="nof_faq_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_label"><span class="nof_faq_text"><label class="nof_faq_label" for="answer">Antwort:</label></span></span></td>
              <td class="nof_faq_contentCell" width="100%"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_textarea"><textarea name="answer" rows="5" id="answer" class="nof_faq_textarea">Beispiel für Antwort</textarea></span></td>
            </tr>
            <tr>
              <td valign="top" class="nof_faq_contentCell">&nbsp;</td>
              <td width="100%" class="nof_faq_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_input_button"><input name="button" type="button" value="Speichern" class="nof_faq_input_button"></span><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_input_button"><input name="button" type="button" value="Abbrechen" class="nof_faq_input_button"></span></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</div>
<div onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_faq_footer">
  <table border="0" cellpadding="0" cellspacing="0" width="100%" class="nof_faq_footer">
    <tbody>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </tbody>
  </table>
</div>
<div id="selection"></div>
</body>
</html>
