<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<style>
  @import url("../../preview.css");
  @import url("../css/ui.css");
</style>
</head>
<body id="preview" onLoad="parent.initPreview(document);" _onClick="parent.setSelector();" bgcolor="#ffffff">
<div class="nof_ui"><span class="nof_ui_heading">Anmelden</span></div>
<div onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_guestbook_header">
  <table width="100%" border="0" cellpadding="0" cellspacing="0" class="nof_guestbook_header">
    <tr>
      <td><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_guestbook_heading"><span class="nof_guestbook_text"><span class="nof_guestbook_heading">Gästebuchverwaltung</span></span></span></td>
    </tr>
  </table>
</div>
<div onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_guestbook_content">
  <div class="nof_guestbook_content">
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tbody>
        <tr>
          <td class="nof_guestbook_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_guestbook_label"><span class="nof_guestbook_text"><label for="password" class="nof_guestbook_label">Kennwort:</label></span></span></td>
          <td width="100%" align="left" class="nof_guestbook_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_guestbook_input_text"><input name="password" type="text" class="nof_guestbook_input_text" id="password" size="30"></span><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_guestbook_input_button"><input class="nof_guestbook_input_button" value="Anmelden" type="button"></span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_guestbook_footer">
  <table width="100%" border="0" cellpadding="0" cellspacing="0" class="nof_guestbook_footer">
    <tr>
      <td>&nbsp;</td>
    </tr>
  </table>
</div>
<div class="nof_ui"><span class="nof_ui_heading">Einträge bearbeiten</span></div>
<div onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_guestbook_header">
  <table width="100%" border="0" cellpadding="0" cellspacing="0" class="nof_guestbook_header">
    <tr>
      <td><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_guestbook_heading"><span class="nof_guestbook_text"><span class="nof_guestbook_heading">Eintrag bearbeiten</span></span></span></td>
      <td align="right"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_guestbook_navigationLink"><a class="nof_guestbook_link" href="JavaScript:void(0);"><span class="nof_guestbook_navigationLink">Abmelden</span></a></span></td>
    </tr>
  </table>
</div>
<div onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_guestbook_content">
  <div class="nof_guestbook_content">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tbody>
        <tr>
          <td class="nof_guestbook_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_guestbook_label"><span class="nof_guestbook_text"><label for="name" class="nof_guestbook_label"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_guestbook_required"><span class="nof_guestbook_required">*</span></span>Name:</label></span></span></td>
          <td width="100%" class="nof_guestbook_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_guestbook_input_text"><input name="name" type="text" class="nof_guestbook_input_text" id="name" value="Beispiel für Textfeld" size="40"></span></td>
        </tr>
        <tr>
          <td class="nof_guestbook_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_guestbook_label"><span class="nof_guestbook_text"><label for="email" class="nof_guestbook_label">E-Mail:</label></span></span></td>
          <td width="100%" class="nof_guestbook_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_guestbook_input_text"><input name="eMail" type="text" class="nof_guestbook_input_text" id="eMail" value="Beispiel für Textfeld" size="40"></span></td>
        </tr>
        <tr>
          <td class="nof_guestbook_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_guestbook_label"><span class="nof_guestbook_text"><label for="homePage" class="nof_guestbook_label">Homepage:</label></span></span></td>
          <td width="100%" class="nof_guestbook_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_guestbook_input_text"><input name="homePage" type="text" class="nof_guestbook_input_text" id="homePage" value="Beispiel für Textfeld" size="40"></span></td>
        </tr>
        <tr>
          <td valign="top" class="nof_guestbook_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_guestbook_label"><span class="nof_guestbook_text"><label for="comment" class="nof_guestbook_label"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_guestbook_required"><span class="nof_guestbook_required">*</span></span>Kommentar:</label></span></span></td>
          <td width="100%" class="nof_guestbook_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_guestbook_textarea"><textarea name="comment" cols="31" rows="5" class="nof_guestbook_textarea" id="comment">Beispiel für Textbereich-Design. Zum Bearbeiten hier klicken.</textarea></span></td>
        </tr>
        <tr>
          <td class="nof_guestbook_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_guestbook_label"><span class="nof_guestbook_text"><label for="validate" class="nof_guestbook_label">Eintrag prüfen:</label></span></span></td>
          <td class="nof_guestbook_contentCell" width="100%"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_guestbook_input_checkbox"><input name="validate" type="checkbox" id="validate" value="checkbox" checked="checked" class="nof_guestbook_input_checkbox" hidefocus="true"></span></td>
        </tr>
        <tr>
          <td class="nof_guestbook_contentCell">&nbsp;</td>
          <td width="100%" class="nof_guestbook_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_guestbook_input_button"><input class="nof_guestbook_input_button" value="Kommentar aktualisieren" type="button"></span><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_guestbook_input_button"><input class="nof_guestbook_input_button" value="Abbrechen" type="button"></span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_guestbook_footer">
  <table width="100%" border="0" cellpadding="0" cellspacing="0" class="nof_guestbook_footer">
    <tr>
      <td>&nbsp;</td>
    </tr>
  </table>
</div>
<div class="nof_ui"><span class="nof_ui_heading">Einträge auflisten</span></div>
<div onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_guestbook_header">
  <table width="100%" border="0" cellpadding="0" cellspacing="0" class="nof_guestbook_header">
    <tr>
      <td><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_guestbook_heading"><span class="nof_guestbook_text"><span class="nof_guestbook_heading">Einträge auflisten</span></span></span></td>
      <td width="33%" align="center"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_guestbook_navigationLink"><a class="nof_guestbook_link" href="JavaScript:void(0);"><span class="nof_guestbook_navigationLink">Abmelden</span></a></span></td>
      <td width="33%" align="right"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_guestbook_navigation"><span class="nof_guestbook_text"><span class="nof_guestbook_navigation">Seiten:&nbsp;1&nbsp;<span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_guestbook_navigationLink"><a class="nof_guestbook_link" href="JavaScript:void(0);"><span class="nof_guestbook_navigationLink">2</span></a></span>&nbsp;(2)</span></span></span></td>
    </tr>
  </table>
</div>
<div onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_guestbook_content">
  <div class="nof_guestbook_content">
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td class="nof_guestbook_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_guestbook_text"><span class="nof_guestbook_text"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_guestbook_textLabel"><span class="nof_guestbook_textLabel">Name:&nbsp;</span></span>Herr Schmid</span></span></td>
      </tr>
      <tr>
        <td class="nof_guestbook_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_guestbook_text"><span class="nof_guestbook_text"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_guestbook_textLabel"><span class="nof_guestbook_textLabel">Gesendet:&nbsp;</span></span>11.08.06</span></span></td>
      </tr>
      <tr>
        <td class="nof_guestbook_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_guestbook_text"><span class="nof_guestbook_text">Beispielkommentar</span></span></td>
      </tr>
      <tr>
        <td class="nof_guestbook_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_guestbook_input_button"><input class="nof_guestbook_input_button" value="Bearbeiten" type="button"></span><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_guestbook_input_button"><input class="nof_guestbook_input_button" value="Entfernen" type="button"></span><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_guestbook_input_button"><input class="nof_guestbook_input_button" value="Nicht bestätigen" type="button"></span></td>
      </tr>
      <tr>
        <td class="nof_guestbook_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_guestbook_hr"><hr class="nof_guestbook_hr"></span></td>
      </tr>
    </table>
  </div>
</div>
<div onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_guestbook_footer">
  <table width="100%" border="0" cellpadding="0" cellspacing="0" class="nof_guestbook_footer">
    <tr>
      <td>&nbsp;</td>
    </tr>
  </table>
</div>
<div class="nof_ui"><span class="nof_ui_heading">Eintrag hinzufügen</span></div>
<div onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_guestbook_header">
  <table width="100%" border="0" cellpadding="0" cellspacing="0" class="nof_guestbook_header">
    <tr>
      <td><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_guestbook_heading"><span class="nof_guestbook_text"><span class="nof_guestbook_heading">Gästebuch</span></span></span></td>
      <td align="right"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_guestbook_navigation"><span class="nof_guestbook_text"><span class="nof_guestbook_navigation">Seiten:&nbsp;1&nbsp;<span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_guestbook_navigationLink"><a class="nof_guestbook_link" href="JavaScript:void(0);"><span class="nof_guestbook_navigationLink">2</span></a></span>&nbsp;(2)</span></span></span></td>
    </tr>
  </table>
</div>
<div onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_guestbook_content">
  <div class="nof_guestbook_content">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tbody>
        <tr>
          <td class="nof_guestbook_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_guestbook_label"><span class="nof_guestbook_text"><label for="name2" class="nof_guestbook_label"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_guestbook_required"><span class="nof_guestbook_required">*</span></span>Name:</label></span></span></td>
          <td width="100%" class="nof_guestbook_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_guestbook_input_text"><input name="name2" type="text" class="nof_guestbook_input_text" id="name2" value="Beispiel für Textfeld" size="40"></span></td>
        </tr>
        <tr>
          <td class="nof_guestbook_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_guestbook_label"><span class="nof_guestbook_text"><label for="email2" class="nof_guestbook_label">E-Mail:</label></span></span></td>
          <td width="100%" class="nof_guestbook_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_guestbook_input_text"><input name="eMail2" type="text" class="nof_guestbook_input_text" id="eMail2" value="Beispiel für Textfeld" size="40"></span></td>
        </tr>
        <tr>
          <td class="nof_guestbook_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_guestbook_label"><span class="nof_guestbook_text"><label for="homePage2" class="nof_guestbook_label">Homepage:</label></span></span></td>
          <td width="100%" class="nof_guestbook_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_guestbook_input_text"><input name="homePage2" type="text" class="nof_guestbook_input_text" id="homePage2" value="Beispiel für Textfeld" size="40"></span></td>
        </tr>
        <tr>
          <td valign="top" class="nof_guestbook_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_guestbook_label"><span class="nof_guestbook_text"><label for="comment2" class="nof_guestbook_label"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_guestbook_required"><span class="nof_guestbook_required">*</span></span>Kommentar:</label></span></span></td>
          <td width="100%" class="nof_guestbook_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_guestbook_textarea"><textarea name="comment2" cols="31" rows="5" class="nof_guestbook_textarea" id="comment2">Beispiel für Textbereich-Design. Zum Bearbeiten hier klicken.</textarea></span></td>
        </tr>
        <tr>
          <td class="nof_guestbook_contentCell">&nbsp;</td>
          <td width="100%" class="nof_guestbook_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_guestbook_input_button"><input class="nof_guestbook_input_button" value="Kommentar hinzufügen" type="button"></span></td>
        </tr>
        <tr>
          <td class="nof_guestbook_contentCell">&nbsp;</td>
          <td class="nof_guestbook_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_guestbook_formInstructions"><span class="nof_guestbook_text"><span class="nof_guestbook_formInstructions">Hinweis: Ihre Nachricht wird vom Administrator geprüft.</span></span></span></td>
        </tr>
        <tr>
          <td class="nof_guestbook_contentCell">&nbsp;</td>
          <td class="nof_guestbook_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_guestbook_formInstructions"><span class="nof_guestbook_text"><span class="nof_guestbook_formInstructions">Die mit einem Stern * gekennzeichneten Felder müssen ausgefüllt werden.</span></span></span></td>
        </tr>
      </tbody>
    </table>
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td class="nof_guestbook_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_guestbook_hr"><hr class="nof_guestbook_hr"></span></td>
      </tr>
      <tr>
        <td class="nof_guestbook_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_guestbook_text"><span class="nof_guestbook_text"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_guestbook_textLabel"><span class="nof_guestbook_textLabel">Name:&nbsp;</span></span>Herr Schmid</span></span></td>
      </tr>
      <tr>
        <td class="nof_guestbook_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_guestbook_text"><span class="nof_guestbook_text"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_guestbook_textLabel"><span class="nof_guestbook_textLabel">Gesendet:&nbsp;</span></span>11.08.06</span></span></td>
      </tr>
      <tr>
        <td class="nof_guestbook_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_guestbook_text"><span class="nof_guestbook_text">Beispielkommentar</span></span></td>
      </tr>
      <tr>
        <td class="nof_guestbook_contentCell"><span onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_guestbook_hr"><hr class="nof_guestbook_hr"></span></td>
      </tr>
    </table>
  </div>
</div>
<div onClick="parent.setSelector(this);" class="nof_ui_container"><input type="hidden" value=".nof_guestbook_footer">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="nof_guestbook_footer">
      <tr>
        <td>&nbsp;</td>
      </tr>
    </table>
</div>
<div id="selection"></div>
</body>
</html>
